/* === GLOBAL STYLE === */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

/* === ISLANDS === */
.modules-left {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 0px 5px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.modules-right {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 10px 5px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

/* === TOOLTIPS === */
tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

/* === CLOCK === */
#clock {
    padding: 0 7px;
    color: #acc9ff;
    transition: all .3s ease;
}

/* === WORKSPACES === */
#workspaces {
    padding: 0 8px;
}

#workspaces button {
    background: transparent;
    color: #555;
    font-size: 16px;
    padding: 0 6px;
    border: none;
}

#workspaces button.visible {
    color: #888;
}

#workspaces button.active {
    color: #acc9ff;
    font-weight: bold;
}

#workspaces button:hover {
    color: #ffffff;
}

/* === NETWORK === */
#network {
    color: #acc9ff;
    padding: 0 7px;
}

#network.disconnected {
    color: #bf616a;
}

/* === BATTERY === */
#battery {
    color: #acc9ff;
    padding: 0 7px;
}

#battery.charging {
    color: #acc9ff;
}

#battery.warning {
    color: #d08770;
}

/* === UPDATER ===*/
#custom-update {
    padding: 0 7px;
    color:#acc9ff;
}

/* === EXPANDER === */
#custom-expand {
    padding: 0 7px;
    color:#acc9ff;
}

#custom-expand:hover {
    color: #ffffff;
}

#custom-endpoint {
    color: #acc9ff;
}

/* STATUS INDICATORS */
#cpu {
    padding: 0 7px;
    color:#acc9ff;
}
#memory {
    padding: 0 7px;
    color:#acc9ff;
}
#temperature {
    padding: 0 7px;
    color:#acc9ff;
}